#top {
    height: 2rem;
    text-align:center
}

.line_1 {
    display: block;
    text-align:center
}

.line_2 {
    display: block;
    text-align:center
}

.footer {
    display: block;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 0.5rem;
    text-align: center;
}

#logo {
    position: relative;
    margin-bottom: 0rem;
    display: inline-block;
    height: 100%;
}

a {
    font: 0.5em sans-serif;
    color: cornflowerblue;
}

label {
    position: relative;
    display: inline-block;
    height: 2.5rem;
    width: 30%;
    margin-left: 1%;
    margin-bottom: 3%;
    text-align: center;
    padding: 1rem 0;
    border-style: solid;
    border-width: 0.05rem;
    border-color: rgb(75, 194, 135);
    border-radius: 0.2rem;
    color: rgb(75, 194, 135);
}

input[type="submit"] {
    position: relative;
    display: block;
    height: 4rem;
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
    border-style: solid;
    border-width: 0rem;
    border-radius: 0.2rem;
    font: 1em sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(75, 194, 135);
}

input:checked+label {
    background-color: rgb(75, 194, 135);
    color: rgb(255, 255, 255);
}

input.radio {
    display: none;
}

.title_0 {
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align:middle; 
    line-height: 2rem;
    margin-bottom: 2rem;
    font: 100% sans-serif;
    color: rgb(0, 0, 0);
}

.title_1 {
    margin-left: 2%;
    font: 1em sans-serif;
    color: rgb(75, 194, 135);
}

.title_2 {
    font: 1em sans-serif;
}

.title_3 {
    font: 0.2em sans-serif;
}

hr {
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
}