#top {
    height: 2rem;
    text-align:center
}

.line_1 {
    display: block;
    text-align:center
}

.line_2 {
    display: block;
    text-align:center
}

.footer {
    display: block;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 0.5rem;
    text-align: center;
}

#logo {
    position: relative;
    margin-bottom: 0rem;
    display: inline-block;
    height: 100%;
}

a {
    font: 1em sans-serif;
    color: cornflowerblue;
}

label {
    position: relative;
    display: inline-block;
    height: 3rem;
    width: 30%;
    margin-left: 1%;
    margin-bottom: 3%;
    text-align: center;
    padding: 1rem 0;
    border-style: solid;
    border-width: 0.05rem;
    border-color: rgb(75, 194, 135);
    border-radius: 0.2rem;
    color: rgb(75, 194, 135);
}

input[type="submit"] {
    position: relative;
    display: block;
    height: 4rem;
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
    border-style: solid;
    border-width: 0rem;
    border-radius: 0.2rem;
    font: 1em sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(75, 194, 135);
}

input:checked+label {
    background-color: rgb(75, 194, 135);
    color: rgb(255, 255, 255);
}

input.radio {
    display: none;
}

.title_0 {
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align:middle; 
    line-height: 2rem;
    margin-bottom: 2rem;
    font: 100% sans-serif;
    color: rgb(0, 0, 0);
}

.title_1 {
    margin-left: 2%;
    font: 1.2em sans-serif;
    color: rgb(75, 194, 135);
}

.title_2 {
    font: 1.2em sans-serif;
}

.title_3 {
    font: 0.1em sans-serif;
}

hr {
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
}

@media (min-width:640px){html{font-size:24px;}}
@media (min-width:631px) and (max-width:639px){html{font-size:23.66px;}}
@media (min-width:622px) and (max-width:630px){html{font-size:23.33px;}}
@media (min-width:613px) and (max-width:621px){html{font-size:23px;}}
@media (min-width:604px) and (max-width:612px){html{font-size:22.66px;}}
@media (min-width:595px) and (max-width:603px){html{font-size:22.33px;}}
@media (min-width:586px) and (max-width:594px){html{font-size:22px;}}
@media (min-width:577px) and (max-width:585px){html{font-size:21.66px;}}
@media (min-width:568px) and (max-width:576px){html{font-size:21.33px;}}
@media (min-width:559px) and (max-width:567px){html{font-size:21px;}}
@media (min-width:550px) and (max-width:558px){html{font-size:20.66px;}}
@media (min-width:541px) and (max-width:549px){html{font-size:20.33px;}}
@media (min-width:533px) and (max-width:540px){html{font-size:20px;}}
@media (min-width:524px) and (max-width:532px){html{font-size:19.66px;}}
@media (min-width:515px) and (max-width:523px){html{font-size:19.33px;}}
@media (min-width:506px) and (max-width:514px){html{font-size:19px;}}
@media (min-width:497px) and (max-width:505px){html{font-size:18.66px;}}
@media (min-width:488px) and (max-width:496px){html{font-size:18.33px;}}
@media (min-width:480px) and (max-width:487px){html{font-size:18px;}}
@media (min-width:471px) and (max-width:479px){html{font-size:17.66px;}}
@media (min-width:462px) and (max-width:470px){html{font-size:17.33px;}}
@media (min-width:453px) and (max-width:461px){html{font-size:17px;}}
@media (min-width:444px) and (max-width:452px){html{font-size:17.12px;}}
@media (min-width:435px) and (max-width:443px){html{font-size:16.33px;}}
@media (min-width:426px) and (max-width:434px){html{font-size:16px;}}
@media (min-width:417px) and (max-width:425px){html{font-size:15.66px;}}
@media (min-width:408px) and (max-width:416px){html{font-size:15.33px;}}
@media (min-width:400px) and (max-width:407px){html{font-size:15px;}}
@media (min-width:391px) and (max-width:399px){html{font-size:14.66px;}}
@media (min-width:382px) and (max-width:390px){html{font-size:14.33px;}}
@media (min-width:374px) and (max-width:381px){html{font-size:14px;}}
@media (min-width:365px) and (max-width:373px){html{font-size:13.66px;}}
@media (min-width:356px) and (max-width:364px){html{font-size:13.33px;}}
@media (min-width:347px) and (max-width:355px){html{font-size:13px;}}
@media (min-width:338px) and (max-width:346px){html{font-size:12.66px;}}
@media (min-width:329px) and (max-width:337px){html{font-size:12.44px;}}
@media (max-width:328px){html{font-size:12px;}}